.chat-input {
  color: white;
  background-color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 12vh;
  padding-left: 80px;

}

.input-field {
  /*width: 60%;*/
}

.text-input {
  width: 60% !important;
}

input {
  color: darkgrey;
}

button {
  margin-left: 20px;
}

.chat .input-field input,
button {
  border-color: #FFFFFF;
}

.avatar-group {
  width: 10%;
  margin-left: 50px;
}

.avatar {
  width: 40px;
  height: 40px;
}
