.chat-header {
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  height: 10vh;
  padding-left: 80px;
}

.user-avatar-group {
  position: fixed;
  top: 16px;
  right: 122px;

}

.user-id {

}

.user-avatar {
  margin-left: 20px;
  width: 46px;
  height: 46px;
}

/*.user-avatar img {
  width: 45px;
  height: 45px;
  margin: auto;
}*/
