ul {
  list-style: none;
}

.avatar-image {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.chat-users {
  height: 100vh;
  /*position: fixed;
  top: 0;
  left: 0;*/
}

.chat-user {
  color: white;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  /*border-bottom: 1px solid white;*/
}

.chat-users-number {
  color: white;
  padding: 10px;
  /*border-bottom: 1px solid white;*/
}

.user-number {
  font-family: 'Roboto', sans-serif;
  margin-left: 8px;
  /*font-size: 1.4em;*/
}
.chat-users-number i{
  font-size: 50px;
  padding-right: 10px;
}
